name: Pinchy CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Ensure Rust 1.92.0 version
      run: rustup install 1.92.0 && rustup default 1.92.0
    - name: Install fixed nightly version for reproducible builds (see pinchy/build.rs)
      run: rustup install nightly-2025-12-12
    - name: Add rust-src component to nightly
      run: rustup component add rust-src --toolchain nightly-2025-12-12-x86_64-unknown-linux-gnu
    - name: Install bpf-linker
      run: cargo install bpf-linker
    - name: Cache UML kernel
      uses: actions/cache@v4
      with:
        path: uml-kernel/cache
        key: uml-kernel-x86_64-${{ hashFiles('uml-kernel/build-kernel.sh', 'uml-kernel/config-x86_64') }}
    - name: Build UML kernel
      run: ./uml-kernel/build-kernel.sh
    - name: Build
      run: cargo build -vv
    - name: Run tests
      run: cargo test -vv
